.App {
  text-align: center;
  margin-top: 50px;
}

@media only screen and (min-width: 600px) {
  .search-container {
    height: 100vh;
    overflow-y: scroll;
    border-right: 1px solid #eee;
  }
}

@media only screen and (max-width: 599px) {
  .saved-container {
    height: 500px;
  }
}